<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.abc.newsserversec.mapper.user.UserBusinessMapper">
    <resultMap id="baseMap" type="com.abc.newsserversec.model.user.UserBusiness">
        <result property="id" column="id"/>
        <result property="userid" column="userid"/>
        <result property="productids" column="productids"/>
        <result property="areaids" column="areaids"/>
        <result property="createtime" column="createtime"/>
    </resultMap>
    <select id="selectUserBusinessByCondition" parameterType="map" resultMap="baseMap">
        SELECT * FROM userservice WHERE 1=1
        <if test="id != null">
          AND id = #{id}
        </if>
        <if test="userid != null">
            AND userid = #{userid}
        </if>
        <if test="productids != null">
            AND productids LIKE  CONCAT('%',#{productids},'%')
            ORDER BY createtime desc limit #{num},#{size}
        </if>
    </select>
    <select id="selectUserCardByProductId" parameterType="map" resultType="map">
        SELECT
            ui.id,
            ui.headimg,
            ui.nickname,
            uc.realname,
            uc.department,
            uc.job,
            uc.companyname
        FROM
            userinfo ui,
            usercard uc,
            userservice us
        WHERE
            ui.id = uc.userid
        AND ui.id = us.userid
        AND us.productids LIKE CONCAT('%',#{productids},'%')
        ORDER BY
            uc.createtime DESC
        LIMIT #{num},
         #{size}
    </select>
    <select id="selectCountByCondition" parameterType="map" resultType="int">
        SELECT count(*) FROM userservice WHERE 1=1
        <if test="productids != null">
            AND productids LIKE  CONCAT('%',#{productids},'%')
        </if>
    </select>
    <insert id="insertUserBusiness" parameterType="map">
        INSERT INTO userservice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="companyname != null">
                companyname,
            </if>
            <if test="productids != null">
                productids,
            </if>
            <if test="areaids != null">
                areaids,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid},
            </if>
            <if test="companyname != null">
                #{companyname},
            </if>
            <if test="productids != null">
                #{productids},
            </if>
            <if test="areaids != null">
                #{areaids},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
        </trim>
    </insert>
    <update id="updateUserBusiness" parameterType="map">
        UPDATE userservice
        <set>
            <if test="companyname != null">
                companyname = #{companyname},
            </if>
            <if test="productids != null">
                productids = #{productids},
            </if>
            <if test="areaids != null">
                areaids = #{areaids},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
        </set>
        where userid = #{userid}
    </update>
    <update id="updateidById" parameterType="map">
        UPDATE userservice SET userid = #{val} WHERE userid=#{userid}
    </update>
    <delete id="deleteByUserId" parameterType="long">
       DELETE FROM userservice WHERE userid = #{userid}
    </delete>

    <select id="selectUserheadimgByProductId" parameterType="map" resultType="map">
        select u.headimg as headimg from userinfo u,userservice us
        where u.id = us.userid and u.id in (select userid from userservice where productids like #{productids})
        order by us.createtime desc limit 0,3
    </select>

    <select id="selectUserheadimgByCompanyName" parameterType="string" resultType="map">
        select u.headimg as headimg from userinfo u,userservice us
        where u.id = us.userid and u.id in (select userid from userservice where companyname = #{companyname})
        order by us.createtime desc limit 0,3
    </select>

    <select id="selectProductInfosByUserid" parameterType="long" resultType="map">
        select productids from userservice where userid = #{userid}
    </select>
</mapper>
