<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.abc.newsserversec.mapper.user.UsersearchInfoMapper">

    <insert id="insertUsersearchInfo" parameterType="java.util.Map">
        insert into usersearchinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="classtype != null">
                classtype,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
            <if test="searchtype != null">
                searchtype,
            </if>
            <if test="resultcount != null">
                resultcount,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid},
            </if>
            <if test="classtype != null">
                #{classtype},
            </if>
            <if test="keyword != null">
                #{keyword},
            </if>
            <if test="searchtype != null">
                #{searchtype},
            </if>
            <if test="resultcount != null">
                #{resultcount},
            </if>

            <if test="createdate != null">
                #{createdate},
            </if>
        </trim>
    </insert>
    <update id="updateidById" parameterType="map">
        UPDATE usersearchinfo SET userid = #{val} WHERE userid=#{userid}
    </update>
    <select id="selectUserSearch" resultType="map" parameterType="long">
        SELECT * FROM usersearchinfo WHERE userid = #{userid}
    </select>
    <select id="selectUsersearchWordByCondition" resultType="string" parameterType="java.util.Map">
        select keyword from usersearchinfo where DATEDIFF(createdate,NOW())>-7 and DATEDIFF(createdate,NOW())&lt;=0
        <if test="classtype != null">
            and classtype = #{classtype}
        </if>
        group by keyword order by count(keyword) desc limit 0,5;
    </select>
</mapper>