<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.abc.newsserversec.mapper.user.UserUploadPictureMapper">

    <insert id="insertUserUploadPicture" parameterType="java.util.Map">
        insert into user_upload_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="objectname != null">
                objectname,
            </if>
            <if test="objectid != null">
                objectid,
            </if>
            <if test="picturename != null">
                picturename,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid},
            </if>
            <if test="objectname != null">
                #{objectname},
            </if>
            <if test="objectid != null">
                #{objectid},
            </if>
            <if test="picturename != null">
                #{picturename},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="createdate != null">
                #{createdate},
            </if>
        </trim>
    </insert>

    <select id="selectProductAuditByCondition" parameterType="map" resultType="com.abc.newsserversec.model.user.UserUploadPicture">
        select id,objectname,objectid,picturename,state,reason,createdate
        from user_upload_picture where userid = #{userid}
        and delflag = '0'
        <if test="keyword != null">
            and objectname like #{keyword}
        </if>
        order by createdate desc
        limit #{num},#{size}
    </select>

    <select id="selectProductAuditCountByCondition" parameterType="map" resultType="int">
        select count(*) from user_upload_picture
        where delflag = '0'
        <if test="userid != null">
            and userid = #{userid}
        </if>
        <if test="keyword != null">
            and objectname like #{keyword}
        </if>
        <if test="objectid != null">
            and objectid = #{objectid}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
    </select>

    <update id="updateProductAuditByCondition" parameterType="map">
        update user_upload_picture
        <set>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="delflag != null">
                delflag = #{delflag},
            </if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertUploadCompanyCertificate" parameterType="java.util.Map">
        insert into upload_company_certificate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="companyname != null">
                companyname,
            </if>
            <if test="picturename != null">
                picturename,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="createdate != null">
                createdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid},
            </if>
            <if test="companyname != null">
                #{companyname},
            </if>
            <if test="picturename != null">
                #{picturename},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="state != null">
                #{state},
            </if>
            <if test="createdate != null">
                #{createdate},
            </if>
        </trim>
    </insert>

    <select id="selectCompanyAuditByCondition" parameterType="map" resultType="com.abc.newsserversec.model.user.UploadCompanyPicture">
        select id,companyname,reason,picturename,type,state,createdate
        from upload_company_certificate
        where delflag = '0'
        <if test="userid != null">
            and userid = #{userid}
        </if>
        <if test="keyword != null">
            and companyname like #{keyword}
        </if>
        order by createdate desc
        limit #{num},#{size}
    </select>

    <select id="selectCompanyAuditCountByCondition" parameterType="map" resultType="int">
        select count(*) from upload_company_certificate
        where delflag = '0'
        <if test="userid != null">
            and userid = #{userid}
        </if>
        <if test="keyword != null">
            and companyname like #{keyword}
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
    </select>

    <update id="updateCompanyAuditByCondition" parameterType="map">
        update upload_company_certificate
        <set>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="delflag != null">
                delflag = #{delflag},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectAuditByCondition" parameterType="map" resultType="com.abc.newsserversec.model.user.UploadInfo">
        select id,companyname as name,"com" as classtype,createdate from upload_company_certificate
        where delflag = '0' and userid = #{userid}
        <if test="keyword != null">
            and companyname like #{keyword}
        </if>
        union select id,objectname,"pro" as classtype,createdate from user_upload_picture
        where delflag = '0' and userid = #{userid}
        <if test="keyword != null">
            and objectname like #{keyword}
        </if>
        order by createdate desc
        limit #{num},#{size}
    </select>

    <select id="selectAuditCountByCondition" parameterType="map" resultType="int">
        select sum(tmpcount) as count from (
        select count(*) as tmpcount from upload_company_certificate
        where delflag = '0' and userid = #{userid}
        <if test="keyword != null">
            and companyname like #{keyword}
        </if>
        union all
        select count(*) as tmpcount from user_upload_picture
        where delflag = '0' and userid = #{userid}
        <if test="keyword != null">
            and objectname like #{keyword}
        </if>
        ) a
    </select>

</mapper>